<html style="margin: 0; padding: 0">
  <head>
    <title>Comunicado - Parque das Rosas</title>
    <meta content="initial-scale=1.0, user-scalable=no" name="viewport" />
    <style type="text/css">

      @media screen and (max-width: 700px) {
        body { width: auto !important; }
        .header { margin: 72px auto 0 !important; padding: 0 !important; }
        .header span { font-size: 15px !important; }
        .header h1 { font-size: 25px !important; }
        .content { padding: 40px !important }
      }
    </style>
  </head>

  <body style="margin: 0 auto; padding: 0; width: 700px;">
    <table width="100%" style="margin: 0 auto; padding: 0; border-spacing: 0;">
      <tr style="margin: 0; padding: 0">
        <td style="margin: 0; padding: 0; background-image: url(../images/header-bg.png); background-size: 100%; background-repeat: no-repeat;">
          <table width="50%" class="header" style="margin: 100px auto 0; padding: 30px 0;">
            <tr style="margin: 0; padding: 0">
              <td style="margin: 0; padding: 5px; text-align: right; color: white; font-size: 25px;">
                  <span style="margin: 0; padding: 0; font-size: 20px;">05/04/2024</span>
              </td>
            </tr>
            <tr style="margin: 0; padding: 5px">
              <td style="margin: 0; padding: 0; text-align: center; color: white; font-size: 35px;">
                  <h1 style="margin: 0; padding: 0; font-size: 40px;">COMUNICADO</h1>
              </td>
            </tr>
          </table>
        </td>
        </tr>
        <tr>
        <td class="content" style="margin: 0; padding: 60px; background-image: url(../images/container-bg.png); background-size: 100%;">
          <p style="text-align: left;">Prezados(as) Condôminos(as),</p>
          
          <p style="text-align: left;">Esperamos que estejam todos bem.</p>

          <p style="text-align: left;">Este comunicado é para compartilhar notícia importante com vocês. Após anos de serviço dedicado, a
          gerente Maria Cristina Suécia decidiu seguir novos caminhos em sua jornada profissional e, a partir
          deste mês, não estará mais à frente da gerência do condomínio.</p>
          
          <p style="text-align: left;">Queremos expressar nossa sincera gratidão a Cristina por todas as suas contribuições ao longo dos anos
          e apresentar como nosso novo gerente o Sr. Rafael das Neves Carvalho.</p>

          <p style="text-align: left;">Rafael tem MBA em Gestão Empresarial e especialização em Gestão de Condomínios. Já atuou como
          gestor de área comercial de empresa de Tecnologia da Informação e soma mais de cinco anos como
          síndico profissional e gestor de condomínios. Com uma vasta experiência e profundo compromisso com
          o bem-estar de todos os residentes do Parque das Rosas, Rafael traz consigo novas ideias e uma energia
          renovada que certamente contribuirão para a continuidade do trabalho realizado até agora. Rafael
          trabalhará com a assistência de Teresa Gisele Arruda, que também já trabalhou com gestão em
          empresas do mercado e há mais de três anos atua na gestão de condomínios.</p>

          <p style="text-align: left;">Estamos confiantes de que Rafael e sua equipe desempenharão suas funções com a dedicação e
          profissionalismo que caracterizam a nova gestão, garantindo assim a continuidade de um ambiente
          seguro, acolhedor e bem cuidado para todos nós.</p>
          
          <p style="text-align: left;">Aproveitamos também para lembrar que estamos sempre abertos a sugestões e comentários de todos
          os condôminos. A colaboração de cada um é fundamental para mantermos nossa comunidade unida e
          próspera.</p>

          <p style="text-align: left;">Atenciosamente,</p>
        </td>
      </tr>
      <tr>
        <td style="margin: 0; padding: 0; background-image: url(../images/rodape-bg.png); background-size: 100%; height: 200px;; background-repeat: no-repeat;"></td>
      </tr>
    </table>
  </body>
</html>
